* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index:-1;
}


.star-wars-transition {
  animation: star-wars-transition 3s;

}

@keyframes star-wars-transition {
  0% {
    opacity: 1;
  }
  10% {
    transform: scale(2);
    opacity: 1;
  }
  40% {
    transform: scale(1.3);
    opacity: 1;
  }
  80% {
    transform: scale(5);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform: scale(50);
    opacity: 0.01;
  }
}

@keyframes fill {
  0% {
    transform: scaleX(0);

  }
  25% {
    transform: scaleX(1);
    
  }
  50% {
    transform: scaleX(0);
  }
  75% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);

  }

}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #295841;
  background-image: linear-gradient(to bottom, #295841, rgb(35, 67, 79))!important;
  z-index: 9999;
}

.preloader:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -50px 0 0 -50px;
  border-radius: 100%;
  border: 50px solid rgb(253, 253, 119);
  transform-origin: center center;
  animation: fill 3s ease-in-out infinite;
  box-shadow: 15px 15px 150px rgba(255, 255, 133, 0.8);

}


.hide {
  display: none;
}

#hide-preloader-button {
  content: "";
  position: absolute;
  top: -20%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -50px 0 0 -50px;
  border-radius: 100%;
  border: 50px solid rgb(253, 253, 119);
  transform-origin: center center;
  
  
}



.about {
  background-image: linear-gradient(to bottom, #295854, rgb(91, 43, 100))!important;
  width: 100vw;
  height: 100vh;
}

.education {
  background-image: linear-gradient(to bottom, rgb(253, 253, 119), rgb(192, 84, 183))!important;
  width: 100vw;
  height: 100vh;
}

.work {
  background-image: linear-gradient(to bottom, #295854, rgb(91, 43, 100))!important;
  width: 100vw;
  height: 100vh;
}

.interest {
  background-image: linear-gradient(to bottom, #295854, rgb(91, 43, 100))!important;
  width: 100vw;
  height: 100vh;
}

.contact {
  background-image: linear-gradient(to bottom, #295854, rgb(91, 43, 100))!important;
  width: 100vw;
  height: 100vh;
}

.ball-text {
  position: fixed;
  color: rgb(255, 255, 90);
  font-size: 5rem;
  right: 60%;
  bottom: 40%;
  transform: translate(20%, -50%);
  -webkit-animation: glow 4s ease-in-out infinite alternate;
  -moz-animation: glow 4s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
  z-index:0;
}




@keyframes glow {
  from {
    text-shadow: 0 0 10px , 0 0 20px #fff, 0 0 30px #e9ec0c, 0 0 40px #e7eb00, 0 0 50px #e6cf00, 0 0 60px #fcff4d, 0 0 70px #f3ff4d;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff34d, 0 0 40px #b8cc00, 0 0 50px #fcff4d, 0 0 60px #fff34d, 0 0 70px #fcff4d, 0 0 80px #f3ff4d;
  }
}

@media screen and (max-width: 1024px) {
  .ball-text { 
    font-size: 2rem;
    right: 70%;
    bottom: 25%;
    transform: translate(50%, 50%);
  }
  h1 {
    font-size: 2rem;
  }

}


@media screen and (max-width: 600px){
  .card{
    height: 40vh !important;
    font-size: 2vw;
  }
}

@media screen and (max-height: 600px){
  .card{
    height: 40vh !important;
    font-size: 2vh;

  }
}
